apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: luneo-frontend
spec:
  source:
    helm:
      valuesObject:
        ingress:
          enabled: true
          className: alb
          annotations:
            alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80},{"HTTPS":443}]'
            alb.ingress.kubernetes.io/actions.redirect-to-https: >
              {"Type":"redirect","RedirectConfig":{"Protocol":"HTTPS","Port":"443","StatusCode":"HTTP_301"}}
          hosts:
            - host: app.luneo.app
              paths:
                - path: /
                  pathType: Prefix
        cdn:
          cloudfrontDistributionId: E1234567890ABCDE
        metrics:
          serviceMonitor:
            enabled: true
            namespace: luneo-observability

