apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: luneo-worker-ia
spec:
  source:
    helm:
      valuesObject:
        autoscaling:
          enabled: true
          minReplicas: 3
          maxReplicas: 12
          metrics:
            - type: Pods
              pods:
                metric:
                  name: bullmq_waiting_jobs
                target:
                  type: AverageValue
                  averageValue: "20"
        tolerations:
          - key: spotInstance
            operator: Equal
            value: "true"
            effect: NoSchedule
        nodeSelector:
          lifecycle: spot

