# Configuration pour Vercel - Ignorer les erreurs de workspaces problématiques
strict-peer-dependencies=false
auto-install-peers=true
ignore-workspace-root-check=true

shamefully-hoist=true
node-linker=hoisted
