[providers]
node = "20"

[phases.setup]
nixPkgs = ["nodejs_20"]
cmds = [
  "corepack enable",
  "corepack prepare pnpm@latest --activate"
]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm build"]

[start]
cmd = "node dist/src/main.js"
