apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: luneo-backend-secondary
spec:
  source:
    helm:
      valuesObject:
        ingress:
          enabled: true
          className: alb
          hosts:
            - host: api-secondary.luneo.app
              paths:
                - path: /
                  pathType: Prefix
        autoscaling:
          enabled: true
          minReplicas: 1
          maxReplicas: 6
          targetCPUUtilizationPercentage: 45
        metrics:
          serviceMonitor:
            enabled: true
            interval: 60s
            namespace: luneo-observability

