apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: luneo-render-secondary
spec:
  source:
    helm:
      valuesObject:
        autoscaling:
          enabled: true
          minReplicas: 1
          maxReplicas: 4
          behavior:
            scaleDown:
              stabilizationWindowSeconds: 180
            scaleUp:
              stabilizationWindowSeconds: 90
        metrics:
          serviceMonitor:
            enabled: true
            namespace: luneo-observability

