apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-admin-credentials
  namespace: luneo-observability
spec:
  refreshInterval: 30m
  secretStoreRef:
    kind: ClusterSecretStore
    name: aws-secretsmanager
  target:
    name: grafana-admin
    creationPolicy: Owner
    template:
      type: Opaque
  data:
    - secretKey: admin-user
      remoteRef:
        key: /luneo/prod/observability/grafana
        property: admin_user
    - secretKey: admin-password
      remoteRef:
        key: /luneo/prod/observability/grafana
        property: admin_password

